{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/schedule/student.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="px-4 table-responsive">
    <table class="table table-bordered text-center align-middle" id="table-schedule">
        <thead>
            <tr>
                <th colspan="{% block colspan %}5{% endblock %}" class="text-center align-middle fs-5">
                    AGENDA DE PROGRAMACIÓN DE CLASES PRÁCTICAS
                </th>
                <td>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" style="max-width: 350px;">
                </td>
            </tr>

            {% block student_data %}{% endblock %}

            <tr>
                <th>FECHA</th>
                <th>HORA INICIO</th>
                <th>HORA FIN</th>
                <th>N° CLASES</th>
                {% block extra_headers %}{% endblock %}
                <th>PUNTO DE ENCUENTRO</th>
            </tr>
        </thead>

        <tbody>
            {% for day in schedule_array %}

            <!-- CSS -->
            {% set row_class = loop.cycle('', 'tr-even') %}

            <!-- DATA -->
            <tr class="{{ row_class }}">
                <td rowspan="{{day.total_blocks + 1}}">{{day.date}}</td>
            </tr>

            {% for day_block in day.blocks %}
            <tr class="{{ row_class }}">
                <td>{{day_block.start_time}}</td>
                <td>{{day_block.end_time}}</td>
                <td>{{day_block.total_lessons}}</td>

                {% block extra_columns scoped %}{% endblock %}

                <td class="{% if day_block.has_exam %}td-exam{% endif %}">
                    {{day_block.meeting_point}}
                    {% if day_block.has_exam %}
                    <p class="p-exam">
                        <!-- ICON -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-flag-fill" viewBox="0 0 16 16">
                            <path
                                d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                        </svg>
                        EXAMEN
                    </p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}

            <tr>
                <th colspan="3">TOTAL DE CLASES PROGRAMADAS:</th>
                <th>{{total_lessons}}</th>
            </tr>
        </tbody>
    </table>

    <div class="note fs-6">Tenga en cuenta que la fecha estimada del examen práctico puede cambiar si, durante la
        formación, se presentan cancelaciones, inasistencias o reagendamientos. Las clases canceladas, inasistidas o
        reagendadas no se pueden dar por vistas y, por lo tanto, deben reprogramarse para completar el esquema práctico.
    </div>
</div>
{% endblock %}