{% extends "layouts/home_page.html" %}


{# === CONFIGURACIÓN === #}
{% set title = "Vehículos" %}
{% set entity_name = "vehículo" %}
{% set columns = [
{"label": "Placa", "field": "license_plate"},
{"label": "Modelo", "field": "model"},
{"label": "Marca", "field": "brand"},
{"label": "Tipo", "field": "type"},
{"label": "Activo", "field": "enabled", "type": "boolean"}
] %}
{% set create_endpoint = "vehicles.register_form" %}
{% set edit_endpoint = "vehicles.edit_form" %}
{% set delete_endpoint = "vehicles.delete" %}
{% set id_name = "vehicle_id" %}
{% set empty_label = "No hay vehículos registrados" %}


{# === HEADER EXTRA === #}
{% block header_extra %}
<div class="action-bar d-flex flex-wrap gap-2 mb-4">
  <a
    href="{{url_for('instructor_vehicles.home')}}"
    class="btn btn-outline-primary d-inline-flex align-items-center gap-2"
  >
    <!-- ICON -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-person-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
      />
    </svg>

    Vínculos
  </a>
</div>
{% endblock %}
