# ENTORNO VIRTUAL
.venv

# VARIABLES DE ENTORNO
.env

# == IDE ==
.vscode/

# == CACHE / LOGS ==

# python
__pycache__/

# ruff
.ruff_cache/

# logging
instance/logs/

# == FRONTEND ==
node_modules/
package-lock.json