# === BACKEND (API) + FRONTEND (jinja2) ===
Flask==3.1.2


# === LEER VARIABLES DE ENTORNO ===
python-dotenv==1.2.1


# === DB ===

# ORM
Flask-SQLAlchemy==3.1.1

# DRIVER
mysqlclient==2.2.7

# MIGRACIONES
Flask-Migrate==4.1.0


# === FORMULARIOS ===
Flask-WTF==1.2.2 # INPUT + VALIDACIÓN + NORMALIZACIÓN

