{% extends "layouts/home_page.html" %}

{% set title = "Instructores" %}
{% set entity_name = "instructor" %}
{% set columns = [
{"label": "Nombre", "field": "name"},
{"label": "Teléfono", "field": "phone"},
{"label": "Contrato", "field": "contract"},
{"label": "Activo", "field": "enabled", "type": "boolean"}
] %}

{% set create_endpoint = "instructors.register_form" %}
{% set edit_endpoint = "instructors.edit_form" %}
{% set delete_endpoint = "instructors.delete" %}
{% set id_name = "instructor_id" %}

{% set empty_label = "No hay instructores registrados" %}