@use "variables";
@use "base";

.td-exam {
  background-color: #e7f5ff !important;
  color: #2c3e50;
  font-weight: 500;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 3px;
    background: #3f93e7;
    opacity: 0.6;
  }

  .p-exam {
    color: #3f93e7;
    font-size: 0.9rem;
    border-radius: 4px;
    margin: 0;
    font-weight: 600;
    display: block;
    padding: 0 6px;
  }
}

.note {
  background-color: #ecf0f1;
  border-left: 5px solid variables.$color-principal;
  color: variables.$color-principal;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}
