{% extends "layouts/form_page.html" %}

{% block title %}Registrar | Alumnos{% endblock %}

{% set title = "Registrar Alumno" %}
{% set back_endpoint = "students.home" %}

{% block form_content %}
<form id="register-student-form" method="post" novalidate>
    {% include "students/forms/_form.html" %}

    <!-- SUBMIT -->
    <div class="d-grid">
        <button type="submit" id="register-student-submit" class="btn btn-primary">
            <span id="register-student-submit-text">Registrar</span>
            <span id="register-student-submit-spinner" class="spinner-border spinner-border-sm ms-2 d-none"
                role="status" aria-hidden="true"></span>
        </button>
    </div>

</form>
{% endblock %}

{% block scripts %}
<script type="module">
    import { attachLoadingOnSubmit } from "{{url_for('static', filename='js/forms/attachLoadingOnSubmit.js')}}";

    attachLoadingOnSubmit("register-student-form", {
        buttonId: "register-student-submit",
        spinnerId: "register-student-submit-spinner",
        textId: "register-student-submit-text",
    });
</script>
{% endblock %}