{% extends "students/home.html" %}

{% block title %}Registrar | {{super()}}{% endblock %}

{% block main %}
<h1>Registrar Alumno</h1>

<form method="post" novalidate>
    <!-- CSRF -->
    {{form.hidden_tag()}}

    <div>
        <!-- DOCUMENT ID -->
        {{form.document_id.label}}
        {{form.document_id()}}
        {% for error in form.document_id.errors %}
        <p>{{error}}</p>
        {% endfor %}

        <!-- NAME -->
        {{form.name.label}}
        {{form.name()}}
        {% for error in form.name.errors %}
        <p>{{error}}</p>
        {% endfor %}

        {{form.phone.label}}
        {{form.phone()}}
        {% for error in form.phone.errors %}
        <p>{{error}}</p>
        {% endfor %}
    </div>

    <!-- SUBMIT -->
    {{ form.submit() }}
</form>
{% endblock %}