<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TÍTULO -->
    <title>{% block title %}{% endblock %} | Prix</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <!-- BOOTSTRAP (CSS) -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
    <!-- HEADER -->
    {% block header %}
    {% include "components/header.html" %}
    {% endblock %}

    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <!-- BOOTSTRAP (JS) -->
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>